{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  }
  // "presets": ["react", "es2015", "stage-0", "stage-1", "stage-2"]
}
